<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HLS Multi Quality Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>

<body>
<div style="text-align:center">
    <h1>HLS VOD Streaming</h1>

    <!-- 해상도 선택 -->
    <select id="qualitySelect">
        <option value="720p">720p</option>
        <option value="1080p">1080p</option>
    </select>

    <br/>
    <!-- 실제 재생되는 video 태그 -->
    <video id="video" controls height="500" muted autoplay></video>
</div>

<script>
    
    // video 태그 가져오기
    var video = document.getElementById("video");

    // 선택된 품질(720p(기본) / 1080p)
    var select = document.getElementById("qualitySelect");
    
    /*
        HLS 재생 전체 흐름 설명
        -------------------------------------------
        1) Hls.isSupported() == true
        → 크롬, 엣지, 파이어폭스 → hls.js를 사용해 재생 가능
            - hls.loadSource(url)
            - hls.attachMedia(video)

        2) Safari (Desktop & iOS)
        → video.canPlayType("application/vnd.apple.mpegurl") == true
        → Safari는 HLS가 네이티브로 지원되므로 hls.js 사용 금지
            - video.src = url
            - canplay 이벤트에서 play()

        ※ 자동재생 규칙 때문에 video.muted = true 를 항상 설정해야 함
    */
    function loadHls(quality) {
        // video.m3u8로 고정된 이름 사용
        var url = `http://localhost:8080/hls/${quality}/video.m3u8`;
        

        if (Hls.isSupported()) {
            // debug: 네트워크 로딩 로그 확인용 옵션
            var hls = new Hls({ debug: true });

            // m3u8 파일 로드
            hls.loadSource(url);

            // hls.js를 video 태그에 연결
            hls.attachMedia(video);

            // media element 연결 완료 후 자동 재생
            hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                // 소리 없이 재생(muted + autoplay)
                // 음소거 된 영상만 자동 재생
                video.muted = true;
                video.play();
            });


        // hls.js가 지원되지 않는 브라우저(특히 iPhone Safari)에서는
        // 브라우저 자체에 HLS 재생 기능이 있으므로 hls.js 대신 <video src="m3u8"> 방식으로 직접 재생해야 한다.
        } else if (video.canPlayType("application/vnd.apple.mpegurl")) {
            // Safari는 m3u8을 video.src로 직접 재생 가능
            video.src = url;

            // Safari는 canplay 이벤트에서만 재생 가능
            video.addEventListener("canplay", function() {
                video.muted = true;
                video.play();
            });
        };
    };
    
    //윈도우 로드시 720p 재생
    window.onload = () => loadHls("720p");

    //화질 선택시 change 이벤트 함수
    select.addEventListener("change", (e) => {
        loadHls(e.target.value);
    });

</script>


</body>
</html>